<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/index.css" />

    <title>Output</title>
  </head>
  <body>
    <h2>
        The Highest occuring word<%= number === 1 ? "": "s"%> from the file <%= number === 1 ? "is": "are"%>:
    </h2>
    <br>
    <% for(let result in results) { %>
        <h4>
            <%= result %>
        </h4>
        <br>
    <% } %>
  </body>
</html>